{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial</title>
    <!-- o css está com o ID para realizar a alteração de Tema -->
    <link id="css" rel="stylesheet" href="{% static 'tela_inicial/styles.css' %}">
</head>

<body>
    
    <div class="imagem-fundo">
        <img src="{% static 'tela_inicial/assets/Foto_Brose3.png' %}"></img>
    </div>

    <div>
    <div class="top-bar">
        <div class="logo">
            <img src="{% static 'tela_inicial/assets/brose_icon.png' %}" alt="Logo">
        </div>
        <div class="user-info">
            <span class="user-name">Paulo Moreira</span>
        <div class="logout">
            <a href="/login/"><img src="{% static 'tela_inicial/assets/logout.png' %}" title="Sair" alt="Logout"></a> <!-- Exemplo: se a imagem estiver na pasta 'images' -->
        </div>
        </div>
    </div>

    <div class="left-bar">
    <aside class="barra-lateral">
        <ul>
            <li><a href="#"><img src="{% static 'tela_inicial/assets/logo_casa_branca.png' %}",>Página inicial</a></li>
            <li><a href="/funcionarios/"><img src="{% static 'tela_inicial/assets/icone_silhueta.png' %}">Funcionários</a></li>
            <li><a href="/cursos/"><img src="{% static 'tela_inicial/assets/icone_curso_livro.png' %}">Cursos</a></li>
        </ul>
    </aside>
    
    <main>
    </div>
</body>
