{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link 
    rel="stylesheet"
    href="{% static 'login/style.css' %}"
    >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login - Brose</title>
</head>
<body>
    <div class="login-container">
        <!-- Logo Brose -->
        <img src="{% static 'login/brose_icon.png' %}" alt="Brose" width="160"><br>
        

        <h2>Login</h2>

        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="login">{{ form.login.label }}:</label>
                {{ form.login }}
            </div>
            <div class="form-group">
                <label for="senha">{{ form.senha.label }}:</label>
                {{ form.senha }}
            </div>
            <button type="submit"><strong>Acessar</strong></button>
        </form>

        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</body>
</html>